/********************************
  #main-header Title Area
********************************/
#main-header {
  @extend %primary-bg;
  padding-top: 1.5rem;
  transition: padding .5s ease-out;

  .main-title {
    margin-bottom: 1rem;
    color: $color-main-title;
    text-shadow: 2px 2px 5px rgba($color-text-dark, .75);
    @include col-md {
        padding-bottom: 3rem;
    }
  }

  @include col-md {
    padding-top: 2rem;
  }

  .main-title {
    text-align: center;
  }

}
