#main-header {
  padding-top: 1.5rem;
  transition: padding .5s ease-out;

  .main-title {
    margin-bottom: 1rem;
  }

  @include col-md {
    padding-top: 2rem;
  }

  .main-title {
    text-align: center;
  }

}
