/********************************
  #main-content Gallery Area
********************************/
#main-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &.flickr-main {
        background: $color-bg-black;
    }

    &.spotify-main {
        background: $color-bg-green;
    }
}

#contentRow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/********************
  Search and filter
********************/
.search-filter-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    @include col-md{
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #3A3A3D;
    }

    .search-container {
        width: 100%;
        margin-bottom: 1rem;
        @include col-md {
            width: auto;
            margin-bottom: 0;
            margin-right: auto;
            /* display: flex;*/
            /* flex-direction: row;*/
        };

        input[type="search"] {
            border-radius: 12px;
            border: none;
            color: rgba(32, 32, 34, .84);
            padding: 6px 12px;
            -webkit-transition: -webkit-transform .5s ease-out;
            transition: -webkit-transform .5s ease-out;
            transition: transform .5s ease-out;
            transition: transform .5s ease-out, -webkit-transform .5s ease-out;
        }

        button[type="submit"] {
            @extend %btn;
            float: right;
            @include col-md {
                float: none;
            }
        }
    }

    .btn-filter {
        @extend %btn;
        border-radius: 5px;
        width: 48%;
        @include col-md {
            width: initial;
        };
    }

    #sortDate,
    #sortAlbum {
        float: left;
        margin-right: 8px;
    }

    #filter {
        float: right;
    }
}
