#main-nav {

  ul li {
    display: inline-block;
    @include col-md {
      margin-left: .8rem;

    }

  }

  a {
    padding: 1rem 2rem;

    &.flickr-link {
      background: $color-bg-black;
      color: $color-text-light;
    }

    &.spotify-link {
    background: $color-bg-green;
    color: $color-text-dark;
    font-weight: 700;
    }
  }

}

#main-nav li:last-of-type {
  margin-left: -5px;
}
