/********************************
  #main-nav API Link tabs
********************************/

#main-nav {
  text-align: center;

  @include col-md{
      text-align: left;
  }

  ul li {
    display: inline-block;
    @include col-md {
      margin-left: .8rem;

    }
  }
  a {
    padding: 1rem 2rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

    &:hover,
    &:active {
      // nothing yet..
    }
    &.flickr-link {
      background: rgba($color-bg-black, .91);
      color: $color-text-light;
    }

    &.spotify-link {
    background: $color-bg-green;
    color: $color-text-dark;
    font-weight: 700;
    }
  }
}

#main-nav li:last-of-type {
  margin-left: -5px;
}
