// Text Extends

%centered {
  text-align: center;
}

%text-upper {
  text-transform: uppercase;
}

// Styles

%primary-bg {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(128,128,128,1), rgba(63,173,168,.9)), url('../img/albums.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

//  Buttons
%btn {
  color: $btn-text-color;
  background: #23cf5f;
  border: none;
  border-radius: 15px;
  padding: 6px 18px;
}


// Container Padding

%container-padding {
  padding: 2.5em 0 2.5em;
}

// Margin Extends

%margin-0-center {
  margin: 0 auto;
}

// Float

%float-left {
  float:left;
}

%float-right {
  float: right;
}

// Selected State

%selected {
  background: $black;
  color: $white;
}

%hr-style {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* ---- ClearFix ---- */

%clearfix {
  &:before, &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}
