/********************************
  image styles
********************************/

.img-box {
  text-align: center;
  margin-top: 10px;

    img {
      @include col-large {
        width: 210px;
        height: 210px;
      }

  }

  }

  img {
      max-width: 100%;
      -webkit-transition: box-shadow .6s ease-in-out,
                  width .5s ease-out,
                  height .5s ease-out,
                  -webkit-transform .5s ease-in-out;
      transition: box-shadow .6s ease-in-out,
                  width .5s ease-out,
                  height .5s ease-out,
                  -webkit-transform .5s ease-in-out;
      transition: box-shadow .6s ease-in-out,
                  width .5s ease-out,
                  height .5s ease-out,
                  transform .5s ease-in-out;
      transition: box-shadow .6s ease-in-out,
                  width .5s ease-out,
                  height .5s ease-out,
                  transform .5s ease-in-out,
                  -webkit-transform .5s ease-in-out;
  }

  a:hover img,
  a:active img,
  a:focus img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    box-shadow: 0px 0px 4px 2px darken($color-bg-black, 2.5%);
  }
